In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Aklavik,CA,2022-08-10 00:24:22,68.2191,-135.0107,55.83,41,100,21.09
1,1,Upernavik,GL,2022-08-10 00:26:05,72.7868,-56.1549,40.64,93,100,17.98
2,2,Guamuchil,MX,2022-08-10 00:26:05,25.4667,-108.1000,91.35,54,86,4.52
3,3,Kupang,ID,2022-08-10 00:26:05,-10.1667,123.5833,80.80,69,19,11.07
4,4,Verkhniy Avzyan,RU,2022-08-10 00:26:06,53.5289,57.5372,56.84,92,46,1.92

In [3]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#center of earth is 30 degrees N and 31 degrees E
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, 
                                weights=[max(temp, 0) for temp in max_temp], 
                                dissipating=False, 
                                max_intensity=300,
                                point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=wind, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kupang,ID,2022-08-10 00:26:05,-10.1667,123.5833,80.80,69,19,11.07
6,6,Kavaratti,IN,2022-08-10 00:26:07,10.5669,72.6420,80.47,83,90,19.17
7,7,Hithadhoo,MV,2022-08-10 00:24:25,-0.6000,73.0833,81.43,77,75,7.20
10,10,Russell,US,2022-08-10 00:26:08,32.3502,-85.1999,87.40,65,20,13.80
16,16,Kalmunai,LK,2022-08-10 00:26:10,7.4167,81.8167,77.27,64,100,4.47
17,17,Larap,PH,2022-08-10 00:26:10,14.2990,122.6504,81.81,80,74,2.51
18,18,Bethel,US,2022-08-10 00:26:10,41.3712,-73.4140,85.05,73,63,7.49
25,25,Waingapu,ID,2022-08-10 00:26:13,-9.6567,120.2641,80.17,75,13,10.92
27,27,Naze,JP,2022-08-10 00:26:14,28.3667,129.4833,83.32,69,42,3.13
32,32,Norman Wells,CA,2022-08-10 00:26:15,65.2820,-126.8329,75.24,41,75,9.22

In [14]:
preferred_cities_df.count()

City_ID       200
City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3         Kupang      ID     80.80 -10.1667  123.5833
6      Kavaratti      IN     80.47  10.5669   72.6420
7      Hithadhoo      MV     81.43  -0.6000   73.0833
10       Russell      US     87.40  32.3502  -85.1999
16      Kalmunai      LK     77.27   7.4167   81.8167
17         Larap      PH     81.81  14.2990  122.6504
18        Bethel      US     85.05  41.3712  -73.4140
25      Waingapu      ID     80.17  -9.6567  120.2641
27          Naze      JP     83.32  28.3667  129.4833
32  Norman Wells      CA     75.24  65.2820 -126.8329

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")
print("Data Retrieval Complete")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Data Retrieval Complete

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kupang,ID,80.80,-10.1667,123.5833,Hotel On The Rock by Prasanthi
6,Kavaratti,IN,80.47,10.5669,72.6420,Green leaf
7,Hithadhoo,MV,81.43,-0.6000,73.0833,Scoop Guest House
10,Russell,US,87.40,32.3502,-85.1999,Macs
16,Kalmunai,LK,77.27,7.4167,81.8167,VS Villa
17,Larap,PH,81.81,14.2990,122.6504,Montemayor Cove
18,Bethel,US,85.05,41.3712,-73.4140,Courtyard by Marriott Danbury
25,Waingapu,ID,80.17,-9.6567,120.2641,Pondok Wisata Elim
27,Naze,JP,83.32,28.3667,129.4833,Shishime Hotel
32,Norman Wells,CA,75.24,65.2820,-126.8329,Heritage Hotel

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))